<nav class="space-y-2">
  <p class="text-sm uppercase tracking-widest text-gray-300 mb-3">Navegación</p>

  <button-component
    label="Inicio"
    variant="ghost"
    size="md"
    [routerLink]="['/']"
    [fullWidth]="true"
    [backgroundClass]="'hover:bg-slate-700'"
    [textClass]="'text-white'"
  ></button-component>

  <button-component
    label="Input Docs"
    variant="ghost"
    size="md"
    [routerLink]="['/input']"
    [fullWidth]="true"
    [backgroundClass]="'hover:bg-slate-700'"
    [textClass]="'text-white'"
  ></button-component>

  <button-component
    label="Date picker"
    variant="ghost"
    size="md"
    [routerLink]="['/date-picker']"
    [fullWidth]="true"
    [backgroundClass]="'hover:bg-slate-700'"
    [textClass]="'text-white'"
  ></button-component>

  <button-component
    label="Buttons Docs"
    variant="ghost"
    size="md"
    [routerLink]="['/buttons']"
    [fullWidth]="true"
    [backgroundClass]="'hover:bg-slate-700'"
    [textClass]="'text-white'"
  ></button-component>

  <button-component
    label="Select (variantes UI)"
    variant="ghost"
    size="md"
    [routerLink]="['/dropdown']"
    [fullWidth]="true"
    [backgroundClass]="'hover:bg-slate-700'"
    [textClass]="'text-white'"
  ></button-component>

  <button-component
    label="Searchable Select"
    variant="ghost"
    size="md"
    [routerLink]="['/searchable-select']"
    [fullWidth]="true"
    [backgroundClass]="'hover:bg-slate-700'"
    [textClass]="'text-white'"
  ></button-component>

  <button-component
    label="Table Docs"
    variant="ghost"
    size="md"
    [routerLink]="['/table']"
    [fullWidth]="true"
    [backgroundClass]="'hover:bg-slate-700'"
    [textClass]="'text-white'"
  ></button-component>

  <button-component
    label="Stepper Docs"
    variant="ghost"
    size="md"
    [routerLink]="['/stepper']"
    [fullWidth]="true"
    [backgroundClass]="'hover:bg-slate-700'"
    [textClass]="'text-white'"
  ></button-component>

  <button-component
    label="Extras (future)"
    variant="ghost"
    size="md"
    [routerLink]="['/extras']"
    [fullWidth]="true"
    [backgroundClass]="'hover:bg-slate-700'"
    [textClass]="'text-white'"
  ></button-component>
</nav>
